<div class="footer">
  <a href="https://github.com/brian-moretti" target="_blank"
    ><i class="pi pi-github" title="GitHub's profile" style="color: #030303"></i
  ></a>
  <span>
    Copyright 2023 | Developed with
    <i class="pi pi-heart-fill" style="color: #030303"></i> &
    <i class="pi pi-code" style="color: #030303"></i> by
    <a
      [ngStyle]="{ color: '#030303', 'font-weight': 'bold' }"
      href="https://brian-moretti.github.io/"
      target="_blank"
      >Brian Moretti</a
    ></span
  >
</div>
